body {
    background: white;
    user-select: none;
}

.jumbo {
    padding: 5% 10%;
    z-index: 2;
    position: relative;
}

.jumbo h1 {
    font-size: 4rem;
}

.jumbo p {
    font-size: 1.2rem;
    color: #505050;
}

.jumbo strong {
    color: #024ca7;
}
